<li>
  <% if user.avatar.present? %>
  <%= image_tag user.avatar_url(:thumb)%>
  <% else %>
  <%= gravatar_for user, size: 70 %>
  <%end%>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
</li>